<div ng-controller="dialogCtrl">
    <div>
        <div>
            <label>Personens namn: </label>  <input type="text" name="personnamn" ng-model="vm.person.name" />
        </div>
        <div>
            <label>Favoritlag</label> <select ng-model="vm.person.favoriteTeam" ng-options="fv for fv in vm.favoriteTeams"></select>
        </div>
        
        <div><button ng-click="vm.loggaPerson()">Logga person</button></div>
    </div>
</div>
