<div ng-controller="dialogCtrl">
    <div>
        <label>Personens namn: </label>  <input type="text" name="personnamn" ng-model="vm.person.name" />
        <div><button ng-click="vm.loggaNamn()">Logga namn</button></div>
    </div>
</div>
